body {
  font-family: Consolas;
  background-color: #0d1117;
  color: #c9d1d9;
}

h1 {
  color: #baafe1;
  text-shadow: 7px 7px 7px blueviolet;
}

a {
  color: #8b949e;
  text-decoration: none;
}

a:hover {
  color: #e854c3;
  font-size: 20px;
  text-shadow: 7px 7px 7px blueviolet;
  font-weight: bold;
}

a::after {
  content: "🚍";
}

ul > li {
  font-weight: bold;
  font-size: 20px;
}

ul li:hover {
  color: #6fead6;
  text-shadow: 7px 7px 7px blueviolet;
  font-size: 25px;
}

ul li::before {
  content: "🚨";
}

ul li:nth-child(3) {
  background-color: #212621;
}

p::first-letter {
  font-size: 200%;
  color: #256caa;
}
